/* ================ ROOT VARIABLES ================ */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #a8dadc;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: black;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #a0a3a6;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


/* ---------------- DARK THEME VARAIBLES -------------------- */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: o 2rem 3rem var(--color-light);
}



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

#main-header {
    width: 100%;
    color: var(--color-dark);
    height: 580px;
}

.header-top {
    width: 100%;
    height: 80px;
    background: var(--color-background);
}

#main-header nav ul li {
    display: inline-block;
    justify-content: space-evenly;
    padding: 1rem 3rem;
    transition: all 300ms ease;
    border-radius: 3px;
}

.logo {
    font-size: 2rem;
}

.navbar {
    margin-left: 200px;
}

.navigation:hover {
    background: var(--color-warning);
}

.active {
    background-color: #ececec;
}

.header-top button {
    padding: 0.5rem;
    cursor: pointer;
    border: solid 1px var(--color-dark);
    border-radius: var(--border-radius-1);
}

.header-top button:hover {
    background-color: #e5e5e5;
}

#main-header .theme-toggler {
    background-color: var(--color-light);
    display: flex;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

#main-header .theme-toggler i {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header .theme-toggler i.active {
    background: var(--color-warning);
    color: var(--color-white);
    width: 50%;
    border-radius: var(--border-radius-1);
}

/* ================ HEADER BOTTOM SECTION ================ */

.header-bottom {
    width: 100%;
    height: 500px;
    background-image: url(../img/pexels-candis-hidalgo-23771-639110.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.header-bottom h1 {
    font-size: 40px;
    padding-top: 130px;
    line-height: 5rem;
}

.btn5 {
    margin-top: 2rem;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    transition: all 300ms ease;
}

.transparent {
    background-color: transparent;
    border: 1px solid var(--color-dark);
}

.orange {
    background-color: var(--color-warning);
    border: none;
}

.transparent:hover {
    background-color: var(--color-warning);
    border: none;
}

.orange:hover {
    background-color: transparent;
    border: 1px solid var(--color-dark);
}

/* ============= SECTION ============ */

#main-section {
    width: 100%;
    height: 110px;
    text-align: center;
    padding-top: 3rem;
    line-height: 2rem;
    color: var(--color-dark);
    background: var(--color-white);
}

#main-section h1{
    font-size: 2rem;
}

/* ================== ABOUT SECTION ================== */

#about-section {
    width: 100%;
    height: 450px;
    background: var(--color-background);
    text-align: center;
}
#about-section .about-info {
    font-size: 18px;
    padding: 40px;
}
#about-section .features {
    width: 21%;
    padding: 5px;
    display: inline-block;
}
#about-section i {
    padding-bottom: 30px;
}
.headings {
    padding-bottom: 15px;
}
/*================= For extra information =================*/

#quans .questions {
    padding: 50px;
    text-align: center;

}
#quans .raws {
    width: 40%;
    display: inline-block;
    padding: 40px 65px;
}
/*==================== MORE SECTION ====================*/
#repeat {
    width: 100%;
    height: 230px;
}
.container3 {
    width: 70%;
    height: 100px;
    background: var(--color-background);
    padding: 15px;
    border-radius: 5px;
    margin: 80px 0 0 175px;
}
.btn {
    float: right;
    background-color: var(--color-warning);
    width: 110px;
    padding: 10px;
    margin-top: 5px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.btn a {
    color: white;
}
.btn:hover {
    background-color: var(--color-primary);
}

/*======================= MAIN FOOTER ========================*/
#main-footer {
    width: 100%;
    height: 220px;
    background: var(--color-background);
}
#main-footer .container {
    display: inline-block;
    padding: 20px 0 20px 20px;
    color: var(--color-dark);
}
#main-footer .for-hs {
    padding: 10px;
}
#main-footer .for-cnt {
    width: 28%;
    display: inline-block;
}
#main-footer .icons {
    width: 15%;
    display: inline-block;
}
#main-footer .widget {
    width: 50%;
    display: inline-block;
}